@import "../../global/index.scss";
.loginContainer {

  background: #e5e5e5;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-family: "Lexend Deca", sans-serif;
  & > h2 {
    font-size: $fs-64;
    line-height: 80px;
  }
  & > h3 {
    font-size: $fs-16;
    line-height: 20px;
  }
  &_input {
    width: 300px;
    height: 45px;
    background-color: #224957;
    color: #ffffff;
    padding: 12px 18px;
    border-radius: 10px;
    outline: none;
  }
  &_tool {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    position: relative;
   
  }
  &_loginButton{
    width: 300px;
    height: 45px;
    left: 490px;
    top: 518px;
    background: #20DF7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor:pointer;
    font-size: $fs-16;
    border: none;
  }
  &_image{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.toolText {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: $fw-bold;
  cursor: pointer;

}
.loginText {
  font-style: normal;
  font-weight: $fw-normal;
  text-align: center;
  color: #224957;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
